<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-color: hsl(0, 0%, 100%);
    --tt-color: hsl(240, 6%, 21%);
    --clima-bg-color: hsl(240, 9%, 89%);
    --clima-selecionado-bg-color: hsl(194, 97%, 31%);
    --clima-icon-color: hsl(0, 0%, 100%);
    --button-color: hsl(240, 6%, 21%);
    --switch-color: hsl(240, 6%, 21%);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --highlight-color: rgba(146, 146, 146, 0.1);
}

.light {
    --bg-color: #202030;
    --tt-color: hsl(0, 0%, 100%);
    --button-color: hsl(240, 9%, 89%);
    --switch-color: hsl(240, 9%, 89%);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

#app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19.6rem 22.6rem;
}
  
#switch {
    height: 3.2rem;
    width: 3.2rem;
    background: hsl(240, 9%, 89%) var(--switch-bg-url) no-repeat center;
    background-size: 3.2rem;
    padding: 2.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    width: 3.4rem;
}

#switch:hover {
    background-color: var(--clima-selecionado-bg-color);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

#focusTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 19.2rem;
}

#timer {
    display: flex;
    color: var(--tt-color);
    font-size: 12.6rem;
    font-weight: 500;
    margin-bottom: 1.7rem;
}

#controls {
    display: flex;
    gap: 4.0rem;
}

#controls button {
    border: none;
    background: transparent;
    color: var(--button-color);
}

#controls button:hover {
    color: var(--clima-selecionado-bg-color);
    cursor: pointer;
}

.ph {
    font-size: 6.5rem;
}

#clima {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 3.2rem;
}

#clima .ph {
    background: var(--clima-bg-color);
    border-radius: 2.4rem;
    width: 13.8rem;
    height: 15.2rem;
    font-size: 6.5rem;
    border: none;
    transition: transform;
}

#clima .ph:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#clima .music-on {
    background: var(--clima-selecionado-bg-color);
    color: var(--clima-icon-color);
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
    display: none;
}

@media (max-width: 1100px) {
  
    #app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
    }

    #focusTimer {
        margin: 0;
    }
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-color: hsl(0, 0%, 100%);
    --tt-color: hsl(240, 6%, 21%);
    --clima-bg-color: hsl(240, 9%, 89%);
    --clima-selecionado-bg-color: hsl(194, 97%, 31%);
    --clima-icon-color: hsl(0, 0%, 100%);
    --button-color: hsl(240, 6%, 21%);
    --switch-color: hsl(240, 6%, 21%);
    --switch-bg-url: url(./assets/moon-stars.svg);
    --highlight-color: rgba(146, 146, 146, 0.1);
}

.light {
    --bg-color: #202030;
    --tt-color: hsl(0, 0%, 100%);
    --button-color: hsl(240, 9%, 89%);
    --switch-color: hsl(240, 9%, 89%);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

#app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19.6rem 22.6rem;
}
  
#switch {
    height: 3.2rem;
    width: 3.2rem;
    background: hsl(240, 9%, 89%) var(--switch-bg-url) no-repeat center;
    background-size: 3.2rem;
    padding: 2.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    width: 3.4rem;
}

#switch:hover {
    background-color: var(--clima-selecionado-bg-color);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

#focusTimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 19.2rem;
}

#timer {
    display: flex;
    color: var(--tt-color);
    font-size: 12.6rem;
    font-weight: 500;
    margin-bottom: 1.7rem;
}

#controls {
    display: flex;
    gap: 4.0rem;
}

#controls button {
    border: none;
    background: transparent;
    color: var(--button-color);
}

#controls button:hover {
    color: var(--clima-selecionado-bg-color);
    cursor: pointer;
}

.ph {
    font-size: 6.5rem;
}

#clima {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 3.2rem;
}

#clima .ph {
    background: var(--clima-bg-color);
    border-radius: 2.4rem;
    width: 13.8rem;
    height: 15.2rem;
    font-size: 6.5rem;
    border: none;
    transition: transform;
}

#clima .ph:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#clima .music-on {
    background: var(--clima-selecionado-bg-color);
    color: var(--clima-icon-color);
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
    display: none;
}

@media (max-width: 1100px) {
  
    #app {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
    }

    #focusTimer {
        margin: 0;
    }
>>>>>>> 6410dd5bbc0cc682ac445fcf6c90536ef909f088
}